.logo {
    margin: 20px 0;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #e5e5e5;
    background-color: #f5f5f5;
}

* {
    font-size: 18px;
}

.hero-unit h1.top-h1 {
    font-size: 40px;
    margin: 10px 0;
}
