.home/
build/
.bsp/
build.lib/
.scala-build/

project/boot
project/metals.sbt
project/project

src/main/parser/onion
target/
.idea/
.idea_modules/
.cache
.build.sbt.un~

.settings

.bloop/
.metals/
.vscode/
.sbt/
.ivy2/
.home/
.xdg/

# MkDocs
site/
