<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <meta name="description" content="## ディスクリプション ##">
    <meta name="keywords" content="## キーワード ##">
    <meta name="robots" content="index,follow">
    <meta name="copyright" content="## 著作権 ##">
    <meta name="author" content="## 著作者 ##">
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <title>{{ page.title }} - {{ site.name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ page.root }}/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <link href="{{ page.root }}/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="{{ page.root }}/css/main.css" rel="stylesheet" media="screen">
</head>
<body>
<div class="container">
    <a href="{{ page.root }}/">
        <img class="logo" src="{{ page.root }}/img/onion.png" alt="Onionロゴ">
    </a>

    <div class="row-fluid">
        <div class="span3">
            <ul class="nav nav-list">
                <li><a href="https://github.com/onionlang/onionlang.github.com/wiki">Onion Wiki</a></li>
                <li><a href="{{ page.root }}/tools.html">Tools</a ></li>
                <li><a href="{{ page.root }}/license.html">License</a></li>
            </ul>
        </div>
        <div class="span9">
            {{ content }}
	    <hr>
      </div>
    </div>
</div>
<footer class="footer">
    <address>Copyright&copy; Kota Mizushima.  All Rights Reserved.</address>
</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ page.root }}/bootstrap/js/bootstrap.min.js"></script>
</body>
